<launch>
    <arg name="mode"
         default="minimal"
         doc="specify which file containing the topics to be read to be loaded">
    </arg>
    <arg name="output_dir"
         default="$(find data_recording)/rosbags"
         doc="specify where you want the rosbags to be saved. Default is data_recording/rosbags">
    </arg>

    <group ns="data_recording">
      <rosparam command="load" file="$(find data_recording)/config/$(arg mode).yaml" />
      <rosparam param="output_directory" subst_value="true">$(arg output_dir)</rosparam>
    </group>

    <node name="recorder" pkg="data_recording" type="recorder.py" output="screen" />

</launch>
